root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
csharp_style_namespace_declarations = block_scoped:silent
csharp_style_expression_bodied_methods = false:silent
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_operators = false:silent
csharp_style_expression_bodied_properties = true:silent
csharp_style_expression_bodied_indexers = true:silent
csharp_style_expression_bodied_accessors = true:silent
csharp_style_var_for_built_in_types = true:silent
csharp_style_var_when_type_is_apparent = true:silent
csharp_style_var_elsewhere = true:silent
csharp_prefer_simple_using_statement = true:suggestion
csharp_prefer_braces = true:silent
dotnet_sort_system_directives_first = true
dotnet_style_qualification_for_field = false:silent
dotnet_style_qualification_for_property = false:silent
dotnet_style_qualification_for_method = false:silent
dotnet_style_qualification_for_event = false:silent

# StyleCop specific
dotnet_diagnostic.SA1600.severity = none # Elements should be documented
dotnet_diagnostic.SA1633.severity = none # File must have header
dotnet_diagnostic.SA1200.severity = none # Using directive must appear within namespace
dotnet_diagnostic.SA1101.severity = none # Prefix local calls with this
dotnet_diagnostic.SA1309.severity = none # Field names must not begin with underscore
dotnet_diagnostic.SX1309.severity = warning # Field names must begin with underscore
dotnet_diagnostic.SA1401.severity = none # Fields must be private
dotnet_diagnostic.S1135.severity = none # TODOs are allowed
dotnet_diagnostic.SA1201.severity = none # Fields can follow properties
dotnet_diagnostic.SA1202.severity = none # Ordering of public/private
dotnet_diagnostic.SA1402.severity = none # Multiple types in file
dotnet_diagnostic.SA1108.severity = none # Block statements should not contain embedded comments
dotnet_diagnostic.SA0001.severity = none # XML comment analysis disabled

# Compiler Warnings (Unity specific)
dotnet_diagnostic.CS8618.severity = none # Non-nullable field must contain a non-null value when exiting constructor
